$primary-color: rgba(201, 85, 85, 0.795);


.customCard {  
    background-color: $primary-color;
    width: 25em;
}

.menu-item{
    font-weight: bold;
}

.menu{
    background-color: $primary-color;
}

.nutritional-data{
    background-color: $primary-color;
    height: 22em;
}